@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    /* sempre redimensionar automaticamente o fundo em
    telas com tamanhos diferentes, deixando "responsivo",
    pra vários tipos de dispositivos diferentes:
    celulares, "tablets", computadores e televisores. */
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    /* parâmetros pra sempre flutuar no centro */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* flutuando sempre no centro */

    height: 627px;
    width: 311px;

    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    /* posicionar o "iframe" dentro do telefone */
    position: relative;
    top: 80px;
    left: 22px;

    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px black;
    transition: transform 0.3s, border 0.3s;
}